<div class="profile-card">
    
    <div class="profile-top-section">
        <img :src="bgImgUrl">
        <!-- {{ apiInfo}} -->
    </div>

    <div class="profile-middle-section">
        <div class="profile-img">
            <img :src="logoImgUrl">
        </div>
        <div class="profile-button-group">
            <button class="profile-follow-button"
                @click="followAction">Follow</button>
        </div>
    </div>

    <div class="profile-content-section">

        <div class="profile-content-section-title">
            <h1>{{ entityName }}</h1>
        </div>
        <div class="profile-content-section-body">
            <h2>{{ description }}
                <span v-if="itemList.length">
                    &#8211
                    <span v-for="(item, index) in itemList">
                        <span v-if="item.link">
                            <a target="_blank"
                                :href="item.link">
                                #{{ item.title }}
                            </a>
                        </span>
                        <span v-else>
                            #{{ item.title }}
                        </span>
                        <span v-if="index < (itemList.length - 1)">
                            &#44;
                        </span>
                    </span>
                </span>
            </h2>
        </div>

        <ul class="profile-horizontal-list"
            v-if="bodySectionItems.length">
            <li v-for="(item, index) in bodySectionItems">
                <span v-if="item.link">
                    <a target="_blank"
                        :href="item.link">
                        {{ item.title }}
                    </a>
                </span>
                <span v-else>
                    {{ item.title }}
                </span>
            </li>
        </ul>

    </div>
    
 </div>