
.profile-card {
	-webkit-box-shadow: 1px 1px 2px 2px #8f9396;
	-moz-box-shadow: 1px 1px 2px 2px #8f9396;
	box-shadow: 1px 1px 2px 2px #8f9396;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
    width: 500px;
    background-color: #ffffff;
    color: #333333;

	.profile-top-section {

        img {
            -webkit-border-radius: 12px 12px 0 0;
            -moz-border-radius: 12px 12px 0 0;
            border-radius: 12px 12px 0 0;
            height: 250px;
            width: 500px;
        }
	}

	.profile-middle-section {
        display: inline-block;
        margin-top: -12%;

        .profile-img {
            float: left;
            margin-left: -55%;

            img {
                -webkit-box-shadow: 0px 2px 3px 0px #A9A9A9;
                -moz-box-shadow: 0px 2px 3px 0px #A9A9A9;
                box-shadow: 0px 2px 3px 0px #A9A9A9;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                height: 100px;
                width: 100px;
            }
        }

        .profile-button-group {
            float: right;
            margin: 35% -57%;

            .profile-follow-button {
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                border: 2px solid #3304c4;
                color: #3304c4;
                padding: 4px 26px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1em;
                cursor: pointer;
            }
            .profile-follow-button:hover {
                border: 2px solid #ffffff;
                background-color: #1963ff;
                color: #ffffff;
            }
        }
    }
    
    .profile-content-section {
        margin-top: -15%;
        padding: 0 10% 0 10%;
        text-align: left;

        .profile-content-section-title {

            h1 {
                font-weight: 500;
                font-size: 2em;
            }
        }

        .profile-content-section-body {
            margin-top: -3%;

            h2 {
                font-weight: 200;
                font-size: 1em;

                a {
                    color: #1963ff;
                    font-size: 0.9em;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }

        .profile-horizontal-list {
            font-size: 0.86em;
            font-weight: 500;
            margin-left: -10%;
            padding-bottom: 25px;

            li {
                display: inline;

                a {
                    color: #333333;
                    text-decoration: none;
                }
            }

            li:not(:first-child):before {
                content: "•";
            }
        }
    }
}