
<template src="./profile-card.html"></template>

<script>
import Vue from 'vue'
import axios from 'axios'

export default  {
    name: "profile-card",
    props: {
      bgImgUrl: String,
      logoImgUrl: String,
      entityName: String,
      description: String,
      itemList: Array,
      bodySectionItems: Array,
    },
    data() {
      return {
        isFollowed: null,
        apiInfo: null
      }
    },
    methods: {
     followAction() {
       if (!this.isFollowed) {
         alert('Congratulations! You followed ' + this.entityName + '.')
         this.isFollowed = true 
       }
       else {
         alert('You already followed ' + this.entityName + '.')
       }
     },

     async axoisFunction(){
        axios.get('https://api.coindesk.com/v1/bpi/currentprice.json')
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console(error)
        })
      },
    },
    mounted() {
      this.axoisFunction()

    //   axios
                    // .get('https://api.coindesk.com/v1/bpi/currentprice.json', 
                    // // {
                    // //   params: {
                    // //     ID: 12345
                    // //   }
                    // // })
    //   .then((response) => {
    //     this.apiInfo = response
    //   })
    //   .catch((error) => {
    //     console(error)
    //   })
    }
}
</script>

<style 
  lang="scss" 
  src="./profile-card.scss"
  ></style>
