<template src="./profile-sample.html"></template>

<script>
import Vue from 'vue'
import ProfileCard from './components/profile/profile-card/profile-card.vue'

export default {
  name: 'app',
  components: {
    ProfileCard
  },
  data () {
    return {
      msg: 'Frontend Coding Sample'
    }
  }
}
</script>

<style 
  lang="scss" 
  src="./profile-sample.scss"
  ></style>
