<div id="app">

    <h1>{{ msg }}</h1>
    <h2>Image loading may take a while...</h2>

    <div class="profile-component-alignment">

        <!-- Profile Card Component -->
        <profile-card
            entity-name="Lorempixel - Food 1"
            bg-img-url="http://lorempixel.com/500/250/food/"
            logo-img-url="http://lorempixel.com/100/100/food/"
            description="Random Sky Images, and Awesomeness"
            :item-list="[
                { title: 'AEM/CQ5', link: 'https://www.adobe.com/ca/marketing/experience-manager.html' },
                { title: 'Drupal', link: 'https://www.drupal.org/' },
                { title: 'Magento', link: 'https://magento.com/' },
                { title: 'UXDesign', link: 'https://en.wikipedia.org/wiki/User_experience_design' }
            ]"
            :body-section-items="[
                { title: 'North America & Europe', link: '' },
                { title: 'bounteous.com', link: 'https://www.bounteous.com' },
                { title: 'Joined March 2019', link: '' }
            ]">
        </profile-card>
        <!-- End of Profile Card Component -->

        <h2>Reusable Example</h2>

        <!-- Profile Card Dummy Reusable Example -->
        <profile-card
            entity-name="Lorempixel - Food 2"
            bg-img-url="http://lorempixel.com/500/250/food/"
            logo-img-url="http://lorempixel.com/100/100/food/"
            description="Random Food Images, and Awesomeness"
            :item-list="[
                { title: 'Amazon', link: 'https://www.amazon.ca' },
                { title: 'Facebook', link: 'https://www.facebook.com' },
                { title: 'Google', link: 'https://www.google.ca' },
                { title: 'Yahoo', link: 'https://www.yahoo.ca' },
                { title: 'Ebay', link: 'https://www.ebay.ca' },
                { title: 'JustEat', link: 'https://www.just-eat.com' },
                { title: 'CokeCola', link: 'https://coke.ca' },
                { title: 'LuluLemon', link: 'https://shop.lululemon.com' }
            ]"
            :body-section-items="[
                { title: 'North America & Europe', link: '' },
                { title: 'lorempixel.com', link: 'http://lorempixel.com' },
                { title: 'Random', link: '' },
                { title: 'Friendly', link: '' },
                { title: 'Awesome', link: '' },
                { title: 'More Text', link: '' },
                { title: 'Joined February 2020', link: '' }
            ]">
        </profile-card>

        <!-- Profile Card Dummy Reusable Example -->

    </div>
    
</div>