#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width:100%
}

.profile-component-alignment {
  display: table;
  margin: 0 auto;
}

body {
  background-color: #dde1ea;
}

// // Mobile Responsiveness Demonstration - Not part of UI
// @media only screen and (max-width: 550px) {

//   body {
//     background-color: #ffffff;
//   }

//   .profile-component-alignment {

//     .profile-card {
      
//       .profile-content-section {

//         .profile-content-section-title {
//           color: blue;
//         }

//         .profile-content-section-body {

//           h2 {
//             font-weight: 500;
//           }
//         }

//         .profile-horizontal-list {
//           font-weight: 600;
//         }
//       }
//     }
//   }
// }